.htaccess
css.php
rpc/
sites/site*/admin/
sites/site*/private/
sites/site*/public/admin/
sites/site*/public/setup/
sites/site*/public/theme/
textpattern/
HISTORY.txt
README.txt
# text
*.txt
*.tsv
*.csv
*.xlsx
# raw data
*/data/*
*.idat
*.IDAT
*.maf
*.MAF
*.vcf
*.VCF
# pbs output
*.o*
*.e*
# plots
*.jpeg
*.png
*.pdf
*.tiff
*.html
.Rproj.user
